node_modules
.next
.env
.env.local
.env*.local
.vercel
*.log
.DS_Store
.convex

# contracts/ hardhat workspace artifacts
contracts/node_modules
contracts/artifacts
contracts/cache
contracts/dist
contracts/.env

testsprite_tests\tmp\config.json
